.App {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.App > div {
  margin-right: 50px;
}

.App input {
  margin-right: 10px;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
}
