.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.App input {
  margin-right: 10px;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
}

.active-button {
  background-color: #1d679d;
  color: #afe0af;
  border: 1px solid darkgreen;
}

.grey-text {
  color: grey;
}
